* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #354d57;
    background: -moz-linear-gradient(top,  #354d57 0%, #1d2a2f 100%);
    background: -webkit-linear-gradient(top,  #354d57 0%, #1d2a2f 100%);
    background: linear-gradient(to bottom,  #354d57 0%, #1d2a2f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#354d57', endColorstr='#1d2a2f',GradientType=0 );
    background-repeat: no-repeat;
    background-attachment: fixed;
    font: 400 14px 'Montserrat', 'Open Sans', Arial, Verdana;
    color: #FFF;
    position: relative;
    overflow-x: hidden;
    padding: 65px 0 100px;
}

h1, h2, h3, h4, h5 {
    font: 200 18px 'Montserrat', 'Open Sans', Arial, Verdana;
    color: #FFF;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: rgba(255,255,255,0.2);
    margin: 20px 0;
}

a,
a:focus {
    text-decoration: none;
    outline: none;
    transition: all 0.35s;
    color: #1bc4bf;
}

a:hover {
    color: #999;
}

b,
strong,
.strong {
    font-weight: 400;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=number],
select {
    border: 0;
    border-bottom: 2px solid #334b54;
    background: none;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    width: 100%;
    max-width:400px;
    outline: 0;
    color: #FFF;
    font: 300 13px 'Montserrat';
    transition: .15s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus {
    border-color: #5e747c;
}

::-webkit-input-placeholder {
    color:    #5e747c;
}

:-moz-placeholder {
    color:    #5e747c;
    opacity:  1;
}

::-moz-placeholder {
    color:    #5e747c;
    opacity:  1;
}

:-ms-input-placeholder {
    color:    #5e747c;
}

select {
    background: #eee;
    padding: 10px 15px;
    border: 0;
    box-sizing: border-box;
    width: 300px;
}

button,
.btn {
    border: 0;
    border-radius: 30px;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    background: #1bc4bf;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    min-width: 100px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
    transition: .15s linear;
    font: 600 12px 'Montserrat', 'Open Sans', Arial, Verdana;
    outline: 0;
}

button:hover,
.btn:hover {
    background: #1d2a2f !important;
}

.ng-enter {
    transition: 0.25s linear all;
    opacity: 0;
    max-height: 0;
}

.ng-enter-active {
    opacity: 1;
    max-height: 999px;
    transition: 0.25s linear all;
}

.ng-leave {
    transition: 0.25s linear all;
    opacity: 0;
}

.my-animation.ng-enter-stagger {
    transition-delay: 0.1s;
    transition-duration: 0s;
}

.ng-leave-active {
    opacity: 0;
}

.ng-enter-stagger {
    transition-delay: 0.1s;
}

.ng-leave-stagger {
    transition-delay: 0.1s;
}

input.ng-invalid:not(.ng-empty) {
    border-bottom: 2px solid #de4f4f;
}

@-webkit-keyframes rotating /* Safari and Chrome */
{
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes btn {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ui-notification {
    position: fixed;
    z-index: 500;
    background-color: #222;
    color: #FFF;
    font: 300 12px 'Montserrat';
    padding: 20px 20px;
    opacity: 1.0;
    transition: all 0.35s;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}

.ui-notification.success {
    background: #3bbb71;
}

.ui-notification.error {
    background: #de4f4f;
}

.debug-mode-notification {
    width: 100%;
    padding: 10px 0;
    display: block;
    text-align: center;
    background: #de4f4f;
    color: #FFF;
    text-transform: uppercase;
    font: 300 12px 'Montserrat';
}

.ui-notification.killed {
    opacity: 0;
}

small.errorMessage {
    display: inline-block;
    vertical-align: middle;
    color: #a1a1a1;
    font-size: 16px;
    text-align: right;
    margin-left: 50%;
    margin-top: 10px;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
}

.modal-window {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 101;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.35s;
}

.modal-content {
    position: absolute;
    max-height: 100%;
    overflow: auto;
    top: 50%;
    width: 1000px;
    left: 50%;
    background: #272634;
    transform: translate(-50%, -50%);
    transition: all 0.35s;
}

.modal-body {
    padding: 40px;
}

.modal-header {
    background: #fff;
    color: #000;
    text-align: center;
    padding: 25px 0;
    font-size: 24px;
    position: relative;
}

.modal-header #modal-close {
    position: absolute;
    top: 50%;
    right: 30px;
    border: 0;
    width: 30px;
    color: #FFF;
    height: 30px;
    line-height: 20px;
    text-align: center;
    background: #1bc4bf;
    border-radius: 100%;
    transform: translateY(-50%);
    transition: all 0.35s;
    cursor: pointer;
}

.modal-header #modal-close:hover {
    background: #999;
}

.fade {
    opacity: 0;
    transition: opacity 0.25s;
}

.fade-in {
    opacity: 1.0;
    transition: all 0.25s;
}

.fade-out {
    opacity: 0;
    transition: all 02.5s;
}


.grid, .grid-container,
.grid-container-10 {
    font-size: 0;
}

.grid-container > *,
.grid-container-10 > * {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 14px;
    font-weight: 300;
}

.grid-1 {
    width: 8.33333%;
}

.grid-2 {
    width: 16.66667%;
}

.grid-3 {
    width: 25%;
}

.grid-4 {
    width: 33.33333%;
}

.grid-5 {
    width: 41.66667%;
}

.grid-6 {
    width: 50%;
}

.grid-7 {
    width: 58.33333%;
}

.grid-8 {
    width: 66.66667%;
}

.grid-9 {
    width: 75%;
}

.grid-10 {
    width: 83.33333%;
}

.grid-11 {
    width: 91.66667%;
}

.grid-12 {
    width: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.grid-container-10 > .grid-2 {
    width: 20%;
}

.grid-container .grid-2

#ng-view {
    font-size: 0;
    height: 100%;
    display: block;
}

.input-form {
    font-size: 13px;
    position: fixed;
    color: #FFF;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 380px;
}

.input-form h2 {
    font-size: 42px;
    color: #FFF;
}

.input-form h4 {
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 100px;
    color: #1bc4bf;
}

.input-form .submit {
    margin: 0 auto;
}

.input-form .form-container {
    padding: 0;
}

.input-form .form-buttons {
    margin-top: 50px;
}

.input-form .form-container input {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.form-group {
    padding: 10px 0;
}

.form-group-row {
    margin: 3px 0;
}

.form-group.input-prepend,
.form-group.input-append {
    position: relative;
    max-width:400px;
}

.form-group.input-prepend input,
.form-group.input-append input {
    width: 100%;
    padding: 0 45px;
}

.form-group.input-prepend .prepend,
.form-group.input-append .append {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #5e747c;
}

.form-group.input-prepend .prepend {
    left: 10px;
}

.form-group.input-append .append {
    right: 10px;
}

#tabs {
    display: block;
    width: 100%;
    background: rgba(0,0,0,0.3);
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#tabs ul li {
    display: inline-block;
}

#tabs ul li a {
    display: block;
    font-size: 14px;
    padding: 0 20px;
}

#tabs ul li.active a {
    color: #FFF;
}

#top-bar {
    width: 100%;
    display: block;
    background: #1d2a2f;
    color: #FFF;
    padding: 0 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

#top-bar .title {
    float: left;
}

#top-bar h1 {
    line-height: 65px;
}

button.connect {
    background: #3bbb71;
}

button.disconnect {
    background: #ff2a00;
}

#top-bar .user-info {
    float: right;
}

#top-bar .user-info > * {
    float: left;
}

#top-bar .user-profile {
    line-height: 60px;
    padding-right: 50px;
}

#top-bar .user-info button {
    margin-right: 10px;
}

#content {
    padding-bottom: 65px;
}

.tab {
    -webkit-column-count:3;
    -moz-column-count: 3;
    column-count:3;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tab.groups,
.tab.brackets {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.brackets .pair {
    padding: 15px;
    margin-bottom: 15px;
}

.tab.groups .layout,
.tab.brackets .layout {
    max-width: 100%;
    width: 100%;
}

.layout {
    padding: 25px;
    background: #23343a;
    max-width: 600px;
    position: relative;
    margin: 0 10px 10px 0;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.layout .strong {
    color: #5e747c;
}

.layout h3 {
    margin-bottom: 15px;
}

.layout .form-buttons button {
    margin-right: 10px;
}

.selectable-boxes {
    font-size: 0;
}

.selectable-boxes .box {
    display: inline-block;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border: 0;
}

.selectable-boxes .box:hover .form-container{
    background: rgba(0,0,0,0.45);
}

.selectable-boxes .box .form-container {
    background: rgba(0,0,0,0.25);
    border-radius: 3px;
    padding: 15px;
    cursor: pointer;
    transition: .15s linear;
}

.selectable-boxes .box.selected input {
    border-bottom: 2px solid #1bc4bf;
}

.selectable-boxes .box.selected .form-container {
    background: rgba(0,0,0,0.45);
}

.balloon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    color: #1bc4bf;
    cursor: pointer;
    transition: color .15s linear;
}

.balloon:hover {
    color: #FFF;
}

.balloon .content {
    position: absolute;
    bottom: 30px;
    left: 0;
    background: #FFF;
    border-radius: 3px;
    font: 400 11px 'Open Sans';
    padding: 10px;
    color: #777;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

#bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 40px;
    background: #1d2a2f;
    z-index: 20;
}