<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
		<link rel="stylesheet" type="text/css" href="css/caspar.css">
		<link rel="stylesheet" type="text/css" href="css/animations.css">
		<link rel="stylesheet" type="text/css" href="css/brackets.css">
		<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="js/caspar.js"></script>
		<script type="text/javascript" src="js/brackets.js"></script>
    </head>
    <body>
		<div id="box">
			<div id="boxContent">
					<span id="f0"></span>

					<div class="row grid-container-10">
						<div class="grid-2">
							<div class="team grid-container">
								<div class="name grid-10">
									<span id="f1"></span>
								</div>
								<div class="score grid-2">
									<span id="f2"></span>
								</div>
							</div>
							<div class="team grid-container">
								<div class="name grid-10">
									<span id="f3"></span>
								</div>
								<div class="score grid-2">
									<span id="f4"></span>
								</div>
							</div>
						</div>
						<div class="grid-2" style="position: relative; top: 70px">
							<div class="team grid-container">
								<div class="name grid-10">
									<span id="f5"></span>
								</div>
								<div class="score grid-2">
									<span id="f6"></span>
								</div>
							</div>
						</div>
						<div class="grid-2"></div>
						<div class="grid-2" style="position: relative; top: 70px">
							<div class="team grid-container">
								<div class="score grid-2">
									<span id="f7"></span>
								</div>
								<div class="name grid-10">
									<span id="f8"></span>
								</div>
							</div>
						</div>
						<div class="grid-2">
							<div class="team grid-container">
								<div class="score grid-2">
									<span id="f9"></span>
								</div>
								<div class="name grid-10">
									<span id="f10"></span>
								</div>
							</div>
							<div class="team grid-container">
								<div class="score grid-2">
									<span id="f11"></span>
								</div>
								<div class="name grid-10">
									<span id="f12"></span>
								</div>
							</div>
						</div>

					</div> <!-- row -->

					<div class="row grid-container-10">
						<div class="grid-2"></div>
						<div class="grid-2"></div>
						<div class="grid-2">
							<div class="team grid-container">
								<div class="name grid-10">
									<span id="f13"></span>
								</div>
								<div class="score grid-2">
									<span id="f14"></span>
								</div>
							</div>
							<div class="team grid-container">
								<div class="name grid-10">
									<span id="f15"></span>
								</div>
								<div class="score grid-2">
									<span id="f16"></span>
								</div>
							</div>
						</div>
						<div class="grid-2"></div>
						<div class="grid-2"></div>
					</div><!-- row -->

					<div class="row grid-container-10">
						<div class="grid-2">
							<div class="team grid-container">
								<div class="name grid-10">
									<span id="f17"></span>
								</div>
								<div class="score grid-2">
									<span id="f18"></span>
								</div>
							</div>
							<div class="team grid-container">
								<div class="name grid-10">
									<span id="f19"></span>
								</div>
								<div class="score grid-2">
									<span id="f20"></span>
								</div>
							</div>
						</div>
						<div class="grid-2" style="position: relative; top: -20px">
							<div class="team grid-container">
								<div class="name grid-10">
									<span id="f21"></span>
								</div>
								<div class="score grid-2">
									<span id="f22"></span>
								</div>
							</div>
						</div>
						<div class="grid-2"></div>
						<div class="grid-2" style="position: relative; top: -20px">
							<div class="team grid-container">
								<div class="score grid-2">
									<span id="f23"></span>
								</div>
								<div class="name grid-10">
									<span id="f24"></span>
								</div>
							</div>
						</div>
						<div class="grid-2">
							<div class="team grid-container">
								<div class="score grid-2">
									<span id="f25"></span>
								</div>
								<div class="name grid-10">
									<span id="f26"></span>
								</div>
							</div>
							<div class="team grid-container">
								<div class="score grid-2">
									<span id="f27"></span>
								</div>
								<div class="name grid-10">
									<span id="f28"></span>
								</div>
							</div>
						</div>

					</div> <!-- row -->

			</div>
		</div>
    </body>
</html>
