<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
		<link rel="stylesheet" type="text/css" href="css/caspar.css">
		<link rel="stylesheet" type="text/css" href="css/animations.css">
		<link rel="stylesheet" type="text/css" href="css/casters.css">
		<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="js/caspar.js"></script>
		<script type="text/javascript" src="js/casters.js"></script>
    </head>
    <body>
		<div id="left">
			<div id="left-content">
				<span id="f0"></span>
				<span id="f1"></span>
				<span id="f2"></span>
			</div>
		</div>
		<div id="center">
			<div id="center-content">
				<span id="f6"></span>
				<span id="f7"></span>
				<span id="f8"></span>
			</div>
		</div>
		<div id="right">
			<div id="right-content">
				<span id="f3"></span>
				<span id="f4"></span>
				<span id="f5"></span>
			</div>
		</div>
    </body>
</html>
