<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
		<link rel="stylesheet" type="text/css" href="css/caspar.css">
		<link rel="stylesheet" type="text/css" href="css/animations.css">
		<link rel="stylesheet" type="text/css" href="css/groups.css">
		<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="js/caspar.js"></script>
		<script type="text/javascript" src="js/groups.js"></script>
    </head>
    <body>
		<div id="box">
			<div id="boxContent">
				<span id="f0"></span>
				<div class="grid-container">
					<div class="group grid-3">
						<span id="f1" class="title"></span>
						<div class="entities">
							<div class="team grid-container">
								<div class="grid-10">
									<span id="f2"></span>
								</div>
								<div class="grid-2">
									<span id="f3"></span>
								</div>
							</div>

							<div class="team grid-container">
								<div class="grid-10">
									<span id="f4"></span>
								</div>
								<div class="grid-2">
									<span id="f5"></span>
								</div>
							</div>

							<div class="team grid-container">
								<div class="grid-10">
									<span id="f6"></span>
								</div>
								<div class="grid-2">
									<span id="f7"></span>
								</div>
							</div>

							<div class="team grid-container">
								<div class="grid-10">
									<span id="f8"></span>
								</div>
								<div class="grid-2">
									<span id="f9"></span>
								</div>
							</div>

						</div>
					</div>
					<div class="group grid-3">
						<span id="f10" class="title"></span>
						<div class="entities">
							<div class="team grid-container">
								<div class="grid-10">
									<span id="f11"></span>
								</div>
								<div class="grid-2">
									<span id="f12"></span>
								</div>
							</div>

							<div class="team grid-container">
								<div class="grid-10">
									<span id="f13"></span>
								</div>
								<div class="grid-2">
									<span id="f14"></span>
								</div>
							</div>

							<div class="team grid-container">
								<div class="grid-10">
									<span id="f15"></span>
								</div>
								<div class="grid-2">
									<span id="f16"></span>
								</div>
							</div>

							<div class="team grid-container">
								<div class="grid-10">
									<span id="f17"></span>
								</div>
								<div class="grid-2">
									<span id="f18"></span>
								</div>
							</div>

						</div>
					</div>
					<div class="group grid-3">
						<span id="f19" class="title"></span>
						<div class="entities">
							<div class="team grid-container">
								<div class="grid-10">
									<span id="f20"></span>
								</div>
								<div class="grid-2">
									<span id="f21"></span>
								</div>
							</div>

							<div class="team grid-container">
								<div class="grid-10">
									<span id="f22"></span>
								</div>
								<div class="grid-2">
									<span id="f23"></span>
								</div>
							</div>

							<div class="team grid-container">
								<div class="grid-10">
									<span id="f24"></span>
								</div>
								<div class="grid-2">
									<span id="f25"></span>
								</div>
							</div>

							<div class="team grid-container">
								<div class="grid-10">
									<span id="f26"></span>
								</div>
								<div class="grid-2">
									<span id="f27"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="group grid-3">
						<span id="f28" class="title"></span>
						<div class="entities">
							<div class="team grid-container">
								<div class="grid-10">
									<span id="f29"></span>
								</div>
								<div class="grid-2">
									<span id="f30"></span>
								</div>
							</div>

							<div class="team grid-container">
								<div class="grid-10">
									<span id="f31"></span>
								</div>
								<div class="grid-2">
									<span id="f32"></span>
								</div>
							</div>

							<div class="team grid-container">
								<div class="grid-10">
									<span id="f33"></span>
								</div>
								<div class="grid-2">
									<span id="f34"></span>
								</div>
							</div>

							<div class="team grid-container">
								<div class="grid-10">
									<span id="f35"></span>
								</div>
								<div class="grid-2">
									<span id="f36"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>
