<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
		<link rel="stylesheet" type="text/css" href="css/caspar.css">
		<link rel="stylesheet" type="text/css" href="css/animations.css">
		<link rel="stylesheet" type="text/css" href="css/information.css">
		<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="js/caspar.js"></script>
		<script type="text/javascript" src="js/information.js"></script>
    </head>
    <body>
		<div id="box">
			<div id="boxContent">
				<span id="f0"></span>
				<span id="f1"></span>
				<span id="f2"></span>
			</div>
		</div>
    </body>
</html>
