<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
		<link rel="stylesheet" type="text/css" href="css/caspar.css">
		<link rel="stylesheet" type="text/css" href="css/animations.css">
		<link rel="stylesheet" type="text/css" href="css/schedule.css">
		<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="js/caspar.js"></script>
		<script type="text/javascript" src="js/schedule.js"></script>
    </head>
    <body>
		<div id="box">
			<div id="boxContent">
				<span id="f0"></span>
				<div class="time-row">
					<span id="f1" class="time"></span>
					<span id="f2"></span>
				</div>
				<div class="time-row">
					<span id="f3" class="time"></span>
					<span id="f4"></span>
				</div>
				<div class="time-row">
					<span id="f5" class="time"></span>
					<span id="f6"></span>
				</div>
				<div class="time-row">
					<span id="f7" class="time"></span>
					<span id="f8"></span>
				</div>
				<div class="time-row">
					<span id="f9" class="time"></span>
					<span id="f10"></span>
				</div>
				<div class="time-row">
					<span id="f11" class="time"></span>
					<span id="f12"></span>
				</div>
			</div>
		</div>
    </body>
</html>
