<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
		<link rel="stylesheet" type="text/css" href="css/caspar.css">
		<link rel="stylesheet" type="text/css" href="css/animations.css">
		<link rel="stylesheet" type="text/css" href="css/sponsors.css">
		<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="js/caspar.js"></script>
		<script type="text/javascript" src="js/sponsors.js"></script>
    </head>
    <body>
		<div id="box">
			<div id="boxContent">
			   <div class="active">
				 <img src="img/sponsors/jimms.png" alt="">
			   </div>
			   <div>
				 <img src="img/sponsors/juissi.png" alt="">
			   </div>
			   <div>
				 <img src="img/sponsors/teho.png" alt="">
			   </div>
			   <div>
				 <img src="img/sponsors/logitech.png" alt="">
			   </div>
			   <div>
				 <img src="img/sponsors/ahlman.png" alt="">
			   </div>
			   <div>
				 <img src="img/sponsors/ps4.png" alt="">
			   </div>
			   <div>
				 <img src="img/sponsors/kingston.png" alt="">
			   </div>
			</div>
		</div>
    </body>
</html>
